<div typeof="besluit:BehandelingVanAgendapunt" resource={{behandelingUri}} property="ext:behandelt"> 
  <span content={{openbaar}} datatype="xsd:boolean" property="besluit:openbaar"> 
    <em class="fa fa-eye-slash"></em> 
    <span>Besloten behandeling van agendapunt</span> 
  </span> 
  <h3 class="h4" resource={{agendapuntUri}} property="dc:subject"> {{agendapuntTitle}} </h3> 
  <h4 class="h6">Aanwezigen bij agendapunt</h4> 
  <div property="ext:insertAanwezigenText">Beheer aanwezigen bij agendapunt</div> 
  <h4 class="h6">Stemmingen bij agendapunt</h4> 
  <div property="ext:insertStemmingText">Beheer de stemmingen bij dit agendapunt</div>

</div>
